span{
    background-color:green;
    margin:20px;
    height:200px;
    width:200px;
    padding:50px;
    border:2px solid black;
    
}

div{
    background-color:green;
    margin:20px;
    height:200px;
    width:200px;
    padding:50px;
    border:2px solid black;

}