div{
    height:100px;
    width:100px;
    background-color:green;
    text-align:center;
    border:3px solid black;
    margin:20px;
    display:inline-block;
}

#static{
    background-color:yellow;
    position:static;
    top:100px;
    left:100px;
}

#relative{
    position:relative;
    top:100px;
    left:100px;
    background-color:pink;
    
}

#absolute{
    position:absolute;
    top:100px;
    left:100px;
    background-color:pink;    
}

#fixed{
    position:fixed;
    top:100px;
    left:100px;
    background-color:burlywood;    
}

#absolute{
    position:absolute;
    top:100px;
    left:100px;
    background-color:pink;    
}

#sticky{
    position:sticky;
    top:100px;
    left:100px;
    background-color:aquamarine;    
}