
        h1{
            color:pink;
            background-color:blue;
        }

        h2{
            color:aqua;
            background-color:cornsilk;
        }
        button{
            color:blue;
            background-color:brown;
        }